<div id="flash_notices">
  <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
        <button class="close" data-dismiss="alert">×</button>
      </div>
  <% end %>
</div>
<%= form_for @post do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited
            this post from being saved:</h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title  %>
      <%= f.hidden_field "user_id", :value => current_user.id %>
      <%#= current_user.id %>
    </p>
    <p>
      <%= f.label :text  %>
      <%= f.text_area :text  %>
    </p>
    <p>
      <%= f.submit  %>
    </p>
<% end %>
