<h1>Listings Posts</h1>
<table>
<tr>
  <th>Title</th>
  <th>Text</th>
  <th>Show</th>
  <th>Update</th>
  <th>Delete</th>
</tr>
<% @posts.each do |post| %>
  <tr>
   <td><%= post.title %></td>
   <td><%= post.text %></td>
   <td><%= link_to "Show", post_path(post)  %></td>
   <td><%= link_to "Edit", edit_post_path(post)  %></td>
   <td><%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are You Sure"}  %></td>


  </tr>
      <% end %>

</table>
<%= link_to "New Post", :controller => "posts", :action => "new" %>